<div class="card">
  <div class="card-body">
    <h5 class="card-title">Suas aulas:</h5>
    <button class="btn btn-danger" onclick="logout()">Logout</button>
    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#redefinirSenhaModal" id="esqueciSenhaButton">
      Redefinir minha senha
    </button> 
    {{#each aulas}}
    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          Horário: {{ horario_inicio }} - {{ horario_fim }}
        </h6>
        <p class="card-text">Tipo: {{ tipo_aula }}</p>
        <p class="card-text">Matéria: {{ id_materia.nome_materia }}</p>
        <p class="card-text">Dia da semana: {{ dia_semana }}</p>
        <p class="card-text">Sala: {{ sala }}</p>
        <p class="card-text">Grupo: {{ grupo }}</p>
        <p class="card-text">Turma: {{ turma }}</p>
        <p class="card-text">Lab: {{ lab }}</p>
        <button class="btn btn-primary" onclick="generateQRCode('{{ _id }}')">Gerar QR Code</button>
        <button class="btn btn-secondary" onclick="generateRandomCode('{{ _id }}')">Gerar Código</button>
        <div class="code-container" id="code-container-{{ _id }}">
          {{#if messages.success}}
            <div class="alert alert-success mt-2">
              {{messages.success}}
            </div>
          {{else}}
            {{#if messages.error}}
              <div class="alert alert-danger mt-2">
                {{messages.error}}
              </div>
            {{else}}
              {{#if codigoPresenca}}
                Código: {{ codigoPresenca }}
              {{else}}
                <span id="error-container-{{ _id }}" class="text-danger"></span>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="modal fade" id="redefinirSenhaModal" tabindex="-1" aria-labelledby="redefinirSenhaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="redefinirSenhaModalLabel">Redefinir Senha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form id="redefinirSenhaForm">
          <label for="email" class="mt-2">Email:</label>
          <input type="email" id="redefinirEmail" name="email" placeholder="Seu email" class="form-control" />
          <button type="submit" class="btn btn-primary mt-3">Redefinir Senha</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const flashMessages = document.querySelectorAll(".flash-message");
    if (flashMessages) {
      flashMessages.forEach((message) => {
        message.style.display = "block";
        setTimeout(() => {
          message.style.display = "none";
        }, 5000); 
      });
    }
  });

function generateRandomCode(aulaId) {
  const codeContainer = document.getElementById(`code-container-${aulaId}`);
  const errorContainer = document.getElementById(`error-container-${aulaId}`);

  if (codeContainer.innerText.trim() !== "") {
    return;
  }

  fetch(`/professor/gerar-codigo/${aulaId}`, {
    method: "POST",
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        codeContainer.innerHTML = `
          <div class="alert alert-success mt-2 flash-message">
            Código de presença gerado com sucesso!
          </div>
          Código: ${data.codigo}
        `;
        errorContainer.innerText = "";
        setTimeout(() => {
          codeContainer.innerHTML = `Código: ${data.codigo}`;
        }, 5000);
      } else {
        codeContainer.innerHTML = `
          <div class="alert alert-danger mt-2 flash-message">
            ${data.message}
          </div>
        `;
        errorContainer.innerText = data.message; 
        setTimeout(() => {
          codeContainer.innerHTML = "";
        }, 5000); 
      }
    })
    .catch((error) => {
      console.error("Erro ao gerar código:", error);
      errorContainer.innerText = "Erro ao gerar código."; 
      setTimeout(() => {
        codeContainer.innerHTML = "";
      }, 5000); 
    });
  }

  function logout() {
  fetch("/professor/logout", {
    method: "GET",
  })
    .then((response) => {
      if (response.redirected) {
        window.location.href = response.url;
      }
    })
    .catch((error) => {
      console.error("Erro ao fazer logout:", error);
      // Exiba uma mensagem de erro ou tome alguma ação apropriada
    });
}

  document.getElementById("esqueciSenhaButton").addEventListener("click", function(event) {
    event.preventDefault(); 
    const redefinirSenhaForm = document.getElementById("redefinirSenhaForm");
    function handleRedefinirSenhaFormSubmit(event) {
      event.preventDefault();
      const redefinirEmail = document.getElementById("redefinirEmail").value;
      fetch("/professor/redefinir-senha", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: redefinirEmail })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert("Um email com as instruções para redefinir sua senha foi enviado.");
          $('#redefinirSenhaModal').modal('hide');
          window.location.href = "/";
        } else {
          alert("Ocorreu um erro ao processar sua solicitação de redefinição de senha. Tente novamente mais tarde.");
        }
      })
      .catch(error => {
        console.error("Erro ao processar a solicitação de redefinição de senha:", error);
        alert("Ocorreu um erro ao processar sua solicitação de redefinição de senha. Tente novamente mais tarde.");
      });
    }
    redefinirSenhaForm.addEventListener("submit", handleRedefinirSenhaFormSubmit);
  });



</script>
