<h2>Cadastro de alunos</h2>
<hr />
<a href="/admin/alunos/cadastrar"><button
    type="button"
    class="btn btn-success"
  >Adicionar aluno</button></a>

{{#each alunos}}
    <div class="card my-3">
        <div class="card-body">
            <h5>{{nome_completo}} / RA: {{ra}} / Semestre: {{semestre}}</h5>
            <hr />
            <p>Curso: {{id_curso.nome_curso}}</p>
            <p>Grupo: {{grupo}} / Turma: {{turma}} / Laboratório: {{lab}}</p>
            <p>Email: {{email}}</p>
        </div>
    </div>
{{else}}
 <div class="card my-3">
        <div class="card-body">       
          <p class="card-title text-center">Nenhum Aluno registrado</p>
        </div>
    </div>
{{/each}}