<h3>Editar Aluno:</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/alunos/editar" method="POST">
    <input type="hidden" name="id" value="{{aluno._id}}">
      <label for="ra">RA:</label>
      <input
        type="text"
        id="ra"
        name="ra"
        placeholder="RA do aluno"
        class="form-control"
        value="{{aluno.ra}}"
      />

      <label for="nome_completo" class="mt-2">Nome completo:</label>
      <input
        type="text"
        id="nome_completo"
        name="nome_completo"
        placeholder="Nome do aluno"
        class="form-control"
         value="{{aluno.nome_completo}}"
      />

      <label for="semestre">Semestre:</label>
      <input
        type="text"
        id="semestre"
        name="semestre"
        placeholder="Semestre do aluno"
        class="form-control"
         value="{{aluno.semestre}}"
      />

      <label for="grupo">grupo:</label>
      <input
        type="text"
        id="grupo"
        name="grupo"
        placeholder="Grupo do aluno"
        class="form-control"
         value="{{aluno.grupo}}"
      />

      <label for="turma">Turma:</label>
      <input
        type="text"
        id="turma"
        name="turma"
        placeholder="Turma do aluno"
        class="form-control"
         value="{{aluno.turma}}"
      />

      <label for="lab">Laboratório:</label>
      <input
        type="text"
        id="lab"
        name="lab"
        placeholder="Laboratório do aluno"
        class="form-control"
         value="{{aluno.lab}}"
      />

      <label for="email" class="mt-2">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email do aluno"
        class="form-control"
         value="{{aluno.email}}"
      />

      <label for="id_curso">Curso:</label>
      <select name="id_curso" class="form-select">
        <option class="text-primary" value="{{aluno.id_curso._id}}">{{aluno.id_curso.nome_curso}}</option>
        {{#each curso}}
        <option value="{{_id}}">{{nome_curso}}</option>
        {{/each}}
      </select>

      <button type="submit" class="btn btn-success mt-3">Editar aluno</button>
    </form>
  </div>
</div>