<h2>Lista de Matérias</h2>
<hr>
<a href="/admin/materias/cadastrar"><button type="button" class="btn btn-success">Adicionar matéria</button></a>

{{#each materias}}
    <div class="card my-3">
        <div class="card-body">
            <h5>{{nome_materia}}</h5>
            <p>Código da matéria: {{cod_materia}}</p>
            <a href="/admin/materias/editar/{{_id}}"><button class="btn btn-success">Editar Matéria</button></a>
            <a href="/admin/materias/deletar/{{_id}}"><button class="btn btn-danger">Deletar Matéria</button></a>
        </div>
    </div>
{{else}}
    <div class="card my-3">
        <div class="card-body">       
            <p class="card-title text-center">Nenhuma Matéra registrada</p>
        </div>
    </div>
{{/each}}